body {
    background: #EEE;
}
#setup {
    width: 640px;
    margin: 2em auto 4em auto;
}
    #setup .formWrapperContainer {
        background: #FFF;
        border: 1px solid #CCC;
        padding: 1em 1em 0 1em;
        -moz-border-radius: .25em;
        border-radius: .25em;
        -moz-box-shadow: 0 0 1em #AAA;
        box-shadow: 0 0 1em #AAA;
    }